/* Fix scroll issues on web */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  overflow: auto;
}

#root > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
